{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p style="text-align: justify; max-width: 800px; margin: 0 auto; line-height: 1.8; font-size: 1.1rem;">
         Hey, I’m Lipi — an engineer by degree, a creator by passion, and a bit of a quiet rebel at heart. This space is a reflection of the many parts of me — the girl who codes, dreams big, questions norms, and is learning to take up space unapologetically.
         <br><br> I graduated in Computer Science from MAIT, and somewhere along the way, I realized that life isn’t just about clean code and perfect resumes. It’s also about messy growth, uncomfortable changes, spontaneous ideas, and showing up for yourself every day — even when it’s hard.<br> <br>
         I’m currently exploring the world of machine learning, web development, and digital experiences. But more than that, I’m learning how to express myself — whether it’s through design, blogs, or just having honest conversations.
         <br>
          Public speaking used to terrify me — now I’m walking straight into it. Meeting new people used to feel out of my comfort zone — now I chase it. Because deep down, I know I’m meant for something bigger, and I’m done waiting for permission to grow into it.
          <br>
          This blog isn’t just a portfolio or a project — it’s a journal of becoming.<br>
          Of trying. Of failing. Of laughing at my own code. Of finding beauty in late-night ideas and turning them into something real. Of breaking out of the mold, especially when it feels safer to stay inside it.
          <br> <br>So whether you’re here because you’re into tech, creativity, self-growth, or just curious — I’m glad you made it.<br>
          Let’s keep figuring it out. Together.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
